.login-section{
    width: 60%;
  box-shadow: 10px 10px 3px 0 rgba(0,0, 0, 0.3);
  box-sizing: border-box;
  border: 1px solid rgb(175, 160, 160);
  border-radius: 5px;
  background: #fff;
  padding: 20px;
  left      : 15%;
    top       : 20%;
    position  : absolute;
    
  margin: 8% auto 0;
}