
{% extends "layout.html" %}
{% block head %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='footerstyling.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
  
  {% endblock head %}
{% block content %}
<br>
<br>
<h3>Welcome {{ current_user.username}}!!</h3>
<br>
<br>
   <div class="row">
      <div class="column">
         <div class="card">
            <img src="{{ url_for('static', filename='img_avatar2.png') }}" style="width:100%">
              <p><a href="{{ url_for('viewaccount') }}">View Profile</a></p> 
        
          </div>
        </div>

      <div class="column">
        <div class="card">
         <img src="{{ url_for('static', filename='edit.png') }}" style="width:100%">
         <p><a href="{{ url_for('account') }}">Edit Profile</a></p> 
   
        </div>
      </div>
      
      <div class="column">
        <div class="card">
         <img src="{{ url_for('static', filename='send.png') }}" style="width:100%">
         <p><a href="#">Transaction History</a></p> 
   
        </div>
      </div>
      
      <div class="column">
        <div class="card">
         <img src="{{ url_for('static', filename='money.png') }}" style="width:100%">
         <p><a href="#">Send Money</a></p> 
   
        </div>
      </div>
    </div>
   

{% endblock content %}