<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Footer Section</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='footerstyling.css') }}">
</head>
<body>
    <footer class="footer">
        <div class="footer-left">
            <h1>WeSafe NetBanking</h1>
            <p>By WeSafe Corp.</p>
            <div class="socials">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
        <ul class="footer-right">
            <li>
                <h2>Customer Corner</h2>
                
                <ul class="box">
                    <li><a href="#">Doorstep Banking</a></li>
                    <li><a href="#">Customer Care</a></li>
                    <li><a href="#">Online Complaints</a></li>
                    <li><a href="#">CPPC</a></li>
                    <li><a href="#">Right to Information Act</a></li>
                </ul>
            </li>
            
             <li>
                <h2>Resources</h2>
                
                <ul class="box">
                    <li><a href="#">Banking Mantra</a></li>
                    <li><a href="#">e-Auction</a></li>
                    <li><a href="#">Economic Scenario</a></li>
                    <li><a href="#">Interest Rate & Service Charges</a></li>
                    <li><a href="#">Tender</a></li>
                    <li><a href="#">Download Forms</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </li>
            
            <li>
                <h2>Media Centre</h2>
                
                <ul class="box">
                    <li><a href="#">News Coverage</a></li>
                    <li><a href="#">Photo Gallery</a></li>
                    <li><a href="#">Video Gallery</a></li>
                    <li><a href="#">Podcast</a></li>
                    <li><a href="#">Press Release</a></li>
                    <li><a href="#">Anouncements</a></li>
                </ul>
            </li>
            
            <li>
                <h2>Calculators</h2>
                
                <ul class="box">
                    <li><a href="#">Fixed Deposit Calculator</a></li>
                    <li><a href="#">Home Loan EMI Calculator</a></li>
                    <li><a href="#">Gold Loan Calculator</a></li>
                    <li><a href="#">More Calculators</a></li>
                </ul>
            </li>
            
            <li>
                <h2>Other Links</h2>
                
                <ul class="box">
                    <li><a href="#">WeSafe Bank Employees Act, 1985</a></li>
                    <li><a href="#">Code of Bank's commitment to Micro & Small Enterprises</a></li>
                    <li><a href="#">Code of Bank's commitment to customers</a></li>
                    <li><a href="#">Central Scheme of Interest Subsidy for Education Loan</a></li>
                    <li><a href="#">List of Inoperative Accounts</a></li>
                </ul>
            </li>  
        </ul>
        
        <div class="footer-bottom">
            <p>All Rights Reserved &copy;WeSafe Bank 2021</p>
        </div>
        
    </footer>
</body>
</html>